#components-layout-demo-side .logo {
    height: 32px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px;
}

.site-layout .site-layout-background {
    background: #fff;
}

@font-face {
    font-family: 'Vazir FD';
    src: url('/fonts/Vazir.woff2') format('woff2');
}

body {
    font-family: 'Vazir FD', sans-serif;
}
